<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>
<div id="demo" class="PolarisDemo" style="padding: 20px">
    <div class="TZK5E">
        <div>
            <div style="--top-bar-background: #00848e; --top-bar-background-lighter: #1d9ba4; --top-bar-color: #f9fafb; --p-frame-offset: 0px;">
                <form method="post" action="<%= update_key_url %>">
                    <div class="Polaris-FormLayout">
                        <div class="Polaris-FormLayout__Item">
                            <% if params[:message].present? %>
                                <div style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb; --p-frame-offset:0px;">
                                    <div class="Polaris-Banner Polaris-Banner--statusCritical Polaris-Banner--withinPage" tabindex="0" role="alert" aria-live="polite" aria-labelledby="Banner6Heading" aria-describedby="Banner6Content">
                                        <div class="Polaris-Banner__Ribbon">
                                            <span class="Polaris-Icon Polaris-Icon--colorRedDark Polaris-Icon--isColored Polaris-Icon--hasBackdrop">
                                                <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                <circle fill="currentColor" cx="10" cy="10" r="9"></circle>
                                                <path d="M2 10c0-1.846.635-3.543 1.688-4.897l11.209 11.209A7.954 7.954 0 0 1 10 18c-4.411 0-8-3.589-8-8m14.312 4.897L5.103 3.688A7.954 7.954 0 0 1 10 2c4.411 0 8 3.589 8 8a7.952 7.952 0 0 1-1.688 4.897M0 10c0 5.514 4.486 10 10 10s10-4.486 10-10S15.514 0 10 0 0 4.486 0 10"></path>
                                                </svg>
                                            </span>
                                        </div>
                                        <div class="Polaris-Banner__ContentWrapper">
                                            <div class="Polaris-Banner__Heading" id="Banner6Heading">
                                                <p class="Polaris-Heading"><%= params[:message] %></p>
                                            </div>
                                            <div class="Polaris-Banner__Content" id="Banner6Content">
                                                <p>Solicite uma nova chave a equipe Flash Courier DDX.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            
                            <br>
                            <label class="Polaris-Choice" for="PolarisCheckbox2">
                                <span class="Polaris-Choice__Control">
                                    <span class="Polaris-Checkbox">
                                        <input id="PolarisCheckbox2" name="active" type="checkbox" class="Polaris-Checkbox__Input" aria-invalid="false" role="checkbox" aria-checked="false" value="true" <%= 'checked="true"' if @shop.active? %> /><span class="Polaris-Checkbox__Backdrop"></span>
                                        <span class="Polaris-Checkbox__Icon">
                                            <span class="Polaris-Icon">
                                                <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                    <path
                                                        d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"
                                                    ></path>
                                                </svg>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                                <span class="Polaris-Choice__Label">Ativar Flash Courier?</span>
                            </label>
                        </div>
                        <div class="Polaris-FormLayout__Item">
                            <div class="">
                                <div class="Polaris-Labelled__LabelWrapper">
                                    <div class="Polaris-Label"><label id="PolarisTextField2Label" for="PolarisTextField2" class="Polaris-Label__Text">Chave de API Flash Courier DDX</label></div>
                                </div>
                                <div class="Polaris-Connected">
                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                        <div class="Polaris-TextField">
                                            <input
                                                id="PolarisTextField2"
                                                class="Polaris-TextField__Input"
                                                type="text"
                                                aria-describedby="PolarisTextField2HelpText"
                                                aria-labelledby="PolarisTextField2Label"
                                                aria-invalid="false"
                                                aria-multiline="false"
                                                name="api_key"
                                                value="<%= @shop.customer_key %>"
                                            />
                                            <div class="Polaris-TextField__Backdrop"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="Polaris-Labelled__HelpText" id="PolarisTextField2HelpText"><span>Chave fornecida pela equipe Flash Courier DDX.</span></div>
                            </div>
                        </div>
                        <div class="Polaris-FormLayout__Item">
                            <button type="submit" class="Polaris-Button">
                                <span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Salvar</span></span>
                            </button>
                        </div>
                    </div>
                    <span class="Polaris-VisuallyHidden"><button type="submit" aria-hidden="true" tabindex="-1">Salvar</button></span>
                </form>
            </div>
        </div>
        <div></div>
    </div>
</div>
